name: Push Workflow

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v1
      - name: Install dependencies
        run: npm install
      - name: Typescript check
        run: npm run typecheck
      - name: Eslint check
        run: npm run lint
      - name: Prettier check
        run: npm run prettier:check
